.service {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-default);
}

.service_left__name {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-top: 63px;
  margin-bottom: 63px;
}

.service_left_logo {
  width: 100px;
  margin-bottom: 48px;
}

.services_left__link {
  margin-top: 48px;
  color: var(--text-default);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
}

.services_left__link a {
  text-decoration: none;
  color: var(--text-default);
}

.services_left__butoton {
  margin-top: 48px;
}

.service_item_right {
  display: flex;
  width: 66%;
  flex-direction: column;
  border-left: 1px solid var(--border-default);
  margin-top: 63px;
  margin-bottom: 63px;
  padding-left: 48px;
}

.service_right__heading {
  font-weight: 530;
}

.service_right__info {
  margin-top: 48px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 48px;
}

.service_right__image {
  margin-top: 48px;
  height: 600px;
  border-radius: 12px;
}
