.blog_gallery {
  padding: 63px 0 63px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: var(--default-border);
}

.blog_gallery__large_group {
  display: flex;
  gap: 48px;
  border-bottom: var(--default-border);
}

.blog_gallery__small_group {
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  gap: 63px;
}
.blog_gallery__small_group__line {
  display: flex;
  gap: 48px;
}

.blog_gallery__button_group {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .blog_gallery__large_group {
    flex-direction: column;
    border-bottom: none;
    gap: 0;
  }
  .blog_gallery__small_group {
    gap: 0;
    padding: 0;
  }
  .blog_gallery__small_group__line {
    flex-direction: column;
    gap: 0;
  }
}
