.post_section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: var(--default-border);
}

.post_section_information {
  flex-direction: column;
  display: flex;
}

.post_section_navigation {
  flex-direction: column;
  display: flex;
}
