.address {
  width: 50%;
  height: 100%;
  border-left: 1px solid var(--border-default);
  padding-left: 35px;
  display: flex;
  align-items: center;
}
.address__img {
  width: 35%;
  height: 100%;
}
.address__details {
  height: 90%;
  margin-left: 20px;
}
.address__text {
  line-height: 180%;
}
