.common_button {
  /* padding: 0.8em 0.5em; */
  padding: 10px 16px;
  border: 1px solid var(--border-default);
}

.button-blocked {
  align-self: auto;
}

.button-unblocked {
  align-self: flex-start;
}

.primary_button {
  background-color: var(--background-primary);
  border-radius: 6px;
  color: var(--text-inverse);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.primary_button:hover {
  color: var(--text-default);
  background-color: transparent;
}

.primary_button:active {
  box-shadow: 2px 2px 5px #808080;
}

.secondary_button {
  background-color: transparent;
  color: var(--text-default);
  border-radius: 6px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.secondary_button:hover {
  color: var(--text-inverse);
  background-color: var(--background-primary);
}

.secondary_button:active {
  box-shadow: 2px 2px 5px #808080;
}
