.card_list {
  width: 530px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 16px;
}
  
.card_list:nth-last-child(1) {
  
}
  
.card_list__image {
  background-color: #7d7d7d;
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card_list__text {
  height: 107px;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 8px;
}

.card_list__text__corner {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #191919;
}

.card_list__text__title {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #191919;
}