.featured-work {
  margin: 2.4rem 0;
  display: flex;
  border-bottom: #000000 solid 1px;
  border-top: #000000 solid 1px;
}

.featured-work__left-container {
  width: 33%;
  margin: 2.4rem 2.4rem 2.4rem 0;
  border-right: 1px solid #000000;
}

.featured-work__left-container h1 {
  font-weight: 450;
}

.featured-work__left-container p {
  margin-top: 1.2rem;
  margin-right: 15%;
}

.featured-work__big-img p {
  margin-top: 1%;
  margin-bottom: 2%;
}

.featured-work__right-container {
  margin-top: 2%;
  width: 67%;
}

.featured-work__right-container-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 1%;
}

.featured-work_img-text-box,
.picturedbox_img-text-box {
  display: flex;
  justify-content: space-between;
}

.featured-work__big-img {
  border-bottom: 1px solid #000000;
}

.picturedbox_img-box {
  margin-top: 2%;
  padding-left: 3%;
}

.picturedbox_img-box p {
  margin-top: 1%;
}

.picturedbox_img-box--border {
  border-right: #000000 solid 1px;
  padding-right: 3%;
  margin-bottom: 3%;
  padding-left: 0;
}

.picturedbox_img-box--border img,
.picturedbox_img-box img,
.featured-work__big-img img {
  width: 100%;
  border-radius: 1rem;
}

.featured-work__btn {
  margin-top: 6%;
  width: 30%;
  height: 3%;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
}
