.featured-work {
  display: flex;
  padding-bottom: 48px;
  border-bottom: #000000 solid 1px;
}

.featured-work__left-container {
  width: 33%;
  margin-top: 48px;
  border-right: 1px solid #000000;
}

.featured-work__left-container p {
  margin: 8px 180px 48px 0px;
}

.featured-work__big-img p {
  margin-top: 16px;
  margin-bottom: 32px;
}

.featured-work__right-container {
  margin-top: 48px;
  margin-left: 41px;
  width: 67%;
}

.featured-work__right-container-bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid var(--border-default);
}

.featured-work_img-text-box,
.picturedbox_img-text-box {
  display: flex;
  justify-content: space-between;
}

.featured-work__big-img {
  border-bottom: 1px solid #000000;
}

.picturedbox_img-box {
  margin-top: 25px;
  padding-left: 25px;
}

.picturedbox_img-box p {
  margin-top: 13px;
}

.picturedbox_img-box--border {
  border-right: #000000 solid 1px;
  padding-right: 25px;
  padding-left: 0;
}

.picturedbox_img-box--border img,
.picturedbox_img-box img,
.featured-work__big-img img {
  width: 100%;
  border-radius: 1rem;
}

@media screen and (max-width: 1023px) {
  .featured-work {
    flex-direction: column;
  }

  .featured-work__left-container {
    width: 100%;
    border-right: 0;
  }

  .featured-work__left-container p {
    margin: 8px 0px 48px 0px;
  }

  .featured-work__right-container {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 743px) {
  .featured-work__right-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
