:root {
  --text-default: #191919;
  --text-inverse: #ffffff;
  --border-default: #000000;
  --background-default: #fdfbf5;
  --background-primary: #000000;
  --background-secondary: #f0d163;
  --icon-default: #191919;
}

.global__heading--large {
  font-size: 128px;
  line-height: 100%;
}

.global__heading--medium {
  font-size: 96px;
  line-height: 110%;
}

.global__uppercase-heading--medium {
  font-size: 96px;
  line-height: 110%;
}

.global__heading--small {
  font-size: 80px;
  line-height: 110%;
}

.global__uppercase-heading--small {
  font-size: 80px;
  line-height: 110%;
}

.global__heading-h1 {
  font-size: 64px;
  line-height: 120%;
}

.global__uppercase-heading-h1 {
  font-size: 64px;
  line-height: 110%;
}

.global__heading-h2 {
  font-size: 48px;
  line-height: 120%;
}

.global__uppercase-heading-h2 {
  font-size: 48px;
  line-height: 110%;
}

.global__heading-h3 {
  font-size: 32px;
  line-height: 130%;
}

.global__uppercase-heading-h3 {
  font-size: 32px;
  line-height: 120%;
}

.global__heading-h4 {
  font-size: 24px;
  line-height: 120%;
}

.global__uppercase-heading-h4 {
  font-size: 24px;
  line-height: 120%;
}

.global__text-xlarge {
  font-size: 32px;
  line-height: 150%;
}

.global__text--large {
  font-size: 24px;
  line-height: 160%;
}

.global__text--medium {
  font-size: 20px;
  line-height: 170%;
}

.global__text-default {
  font-size: 18px;
  line-height: 170%;
}

.global__text-meta {
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5px;
}

.global__text-meta--small {
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
}

/*container for the whole page*/
.page__wrapper {
  padding: 48px;
  margin: 20px;
  border: 1px solid var(--border-default);
}

