.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-default);
  /* margin-top: 16x; */
  padding: 12px 0 32px 0;
}

.header_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.header_logo_link {
  text-decoration: none;
  color: var(--text-default);
}

.header_logo_name {
  padding-left: 1rem;
  text-align: center;
  font-weight: 500;
  font-family: "Syne";
}

.header_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header_navbar_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  color: var(--text-default);
  font-weight: 400;
}

.header_navbar_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_navbar_page_icon {
  width: 100%;
  height: auto;
  padding-left: 0.5rem;
}
