/* styling for hero component */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 64px 0px;
  border-bottom: 1px solid var(--border-default);
  gap: 0px 64px;
}

.hero__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.hero__slogan {
  color: var(--text-default);
  margin-bottom: 16px;
}

.hero__txt {
  color: var(--text-default);
  max-width: 80%;
}

.hero__photo {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__icon {
  color: var(--icon-default);
  height: fit-content;
  width: fit-content;
  padding-top: 16px;
}

/*responsive styling*/
@media (max-width: 1023px) {
  .hero {
    display: block;
  }

  .hero__section {
    width: 100%;
  }

  .hero__txt {
    max-width: 100%;
  }

  .hero__icon {
    padding-bottom: 24px;
  }

  .hero__photo {
    height: 700px;
    object-position: 70% 0%;
  }
}

@media (max-width: 743px) {
  .hero__slogan {
    font-size: 48px;
    line-height: 120%;
  }

  .hero__photo {
    height: 400px;
    object-fit: none;
    object-position: 60% 0%;
  }
}
