  // color
$text-default: #191919;
$text-inverse: #FFFFFF;
$border-default: #000000;
$background-default: #FDFBF5;
$background-primary: #000000;
$background-secondary: #F0D163;
$icon-default: #191919;

// heading

@mixin heading-large {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 128px;
  line-height: 100%;
}

@mixin heading-medium {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 110%;
}

@mixin heading-medium-uppercase {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 110%;
}

@mixin heading-small {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 110%;
}

@mixin heading-small-uppercase {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 110%;
}

@mixin heading-h1 {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
}

@mixin heading-h1-uppercase {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 110%;
}

@mixin heading-h2 {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
}

@mixin heading-h2-uppercase {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
}

@mixin heading-h3 {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}

@mixin heading-h3-uppercase {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}

@mixin heading-h4 {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 128px;
  line-height: 128px 100%;
}

@mixin heading-h4-uppercase {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

// text
@mixin text-xlarge {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

@mixin text-large {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

@mixin text-medium {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}

@mixin text-default {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
}

@mixin text-meta {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5px;
}

@mixin text-meta-small {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
}