.how_we_work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--border-default);
  padding: 48px 0;
  gap: 48px;
}
.how_we_work__title {
  grid-column: 1/3;
}
.how_we_work__title_heading {
  font-weight: 400;
  margin-bottom: 16px;
}
.how_we_work__title_text {
  height: 352px;
  margin-bottom: 16px;
  font-weight: 500;
}
.how_we_work__icon {
  width: 100px;
  height: 100px;
  color: var(--icon-default);
}
.how_we_work__content {
  border-left: 1px solid var(--border-default);
  padding-left: 48px;
}
.how_we_work__content_text {
  height: 464px;
}
