.latest_news {
  padding: 0 0px;
  border-bottom: 1px solid black;
}

.latest_news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.latest_news__title {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 110%;
  padding: 48px 0px;
  margin: 0;
}

.latest_news__article {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
}
