.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__image {
  border-radius: 12px;
  object-fit: fill;
  height: 800px;
}

.card__title_container_column {
  display: flex;
  flex-direction: column;
}

.card__title_container_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__title_container_column_reverse {
  display: flex;
  flex-direction: column-reverse;
}

.card__title_container_column_reverse h1 {
  font-size: 32px;
}

.card__image_large {
  width: 600px;
}

.card__image_medium {
  width: 100%;
  height: auto;
  min-height: 760px;
}

.card__image_small {
  width: 100%;
  height: 380px;
}

.card__title {
  font-weight: 500;
}
