.our_clients {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 0px;
    border-bottom: 1px solid black;
    padding-bottom: 64px;
}

.our_clients__text {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    width: 169px;
    line-height: 100%;

}
.our_clients__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 191px;
    padding-left: 64px;
    border-left: 1px solid black;
   
  }