.our_clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0px;
  border-bottom: 1px solid black;
}

.our_clients__text {
  font-size: 15px;
  line-height: 100%;
}

.our_clients__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  border-left: 1px solid black;
  width: 85%;
}

.icon__item {
  display: flex;
  justify-content: center;
}

/*responsive styling*/
@media (max-width: 1023px) {
  .our_clients {
    flex-direction: column;
    align-items: flex-start;
  }

  .our_clients__text {
    margin-bottom: 48px;
  }

  .our_clients__icons {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    row-gap: 24px;
    padding-left: 0px;
    border-left: none;
    width: 100%;
  }

  .icon__img {
    width: 80px;
    object-fit: contain;
  }
}

@media (max-width: 743px) {
  .our_clients__icons {
    grid-template-columns: repeat(2, 40%);
  }
}
