.our_team {
  border-bottom: var(--default-border);
  padding: 48px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.our_team__text_container {
  grid-column: 1;
}

.our_team__title {
  font-weight: 500;
}

.our_team__card_container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-left: var(--default-border);
  padding-left: 40px;
  justify-content: space-between;
}
