.our_team {
  border-bottom: var(--default-border);
  padding: 48px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.our_team__text_container {
  grid-column: 1;
}

.our_team__title {
  font-weight: 500;
}

.our_team__card_container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-left: var(--default-border);
  padding-left: 40px;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .our_team {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .our_team__title {
    padding-bottom: 1rem;
  }

  .our_team__card_container {
    border-left: none;
    padding-left: 0;
  }
}
@media screen and (max-width: 743px) {
  .our_team__card_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
