.question_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question__button {
  background-color: var(--background-primary);
  color: var(--background-default);
  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
