.service_title {
  padding: 63px 0;
  border-bottom: 1px solid var(--border-default);
}
.service_title__heading {
  padding-top: 16px;
  font-weight: 500;
}

.service_title__button_container {
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
}
