.what-we-do {
    padding: 64px 0px;
    border-bottom: 1px solid var(--border-default);
    display: flex;
}

.what-we-do__txt {
    width: 30%;
    border-right: 1px solid var(--border-default);
}

.what-we-do__content {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-left: 48px;
}



