.what-we-do {
  padding: 64px 0px;
  border-bottom: 1px solid var(--border-default);
  display: flex;
}

.what-we-do__txt {
  width: 30%;
  border-right: 1px solid var(--border-default);
}

.what-we-do__content {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-left: 48px;
}

@media screen and (max-width: 1023px) {
  .what-we-do {
    flex-direction: column;
  }
  .what-we-do__txt {
    width: 80%;
    border: 0;
    padding-bottom: 64px;
  }

  .what-we-do__content {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 743px) {
  .what-we-do {
    padding-bottom: 0;
  }

  .what-we-do__content {
    grid-template-columns: 100%;
  }
}
