.work-single-page__container {
  display: flex;
  padding: 65px 0px;
  border-bottom: 1px solid var(--border-default);
}

.work-single-page__main {
  width: 66%;
}

.work-single-page__aside {
  width: 34%;
}

.work-single-page__img {
  width: 100%;
  height: 670px;
  margin-bottom: 32px;
  border-radius: 16px;
}

.work-single-page__report-item {
  margin-bottom: 65px;
  padding-right: 16px;
}

.work-single-page__report-icon {
  margin-bottom: 32px;
}
